[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
django = "*"
djangorestframework = "*"
python-dotenv = "*"
django-extensions = "*"
psycopg2 = "*"
mutagen = "*"
requests = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
